.parent {
  display: grid;
  justify-content: center;
  margin-top: 50px;
  height: 60px;
  margin-bottom: 70px;
}

.button {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  background-color: #039be5;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #ebe9e9;
}
