.parent-of-video {
  display: grid;
  justify-content: center;
  margin-top: 50px;
  height: 60px;
  margin-bottom: 40px;
}

.button {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  background-color: #039BE5;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  padding: 10px
}
