.team {
  display: flex;
  justify-content: space-between;
}

.developer {
  vertical-align: top;
  text-align: center;
	font-size: 0.9em;
	height: 300px;
	width: 160px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: inline-block;
  margin: 5px;
  margin-top: 10px;
  background-color: rgba(209, 235, 231, 0.5);
}

.developer p {
  margin-bottom: 15px;
}

.developer:hover {
	box-shadow: 0 0 10px #7194a5;
}

.developer a p:hover,
.developer a img:hover {
    color: #039be5;
}

.developer_github {
	color: grey;
  font-weight: bold;
}

.developer_github span {
  color: black;
}

.kind_work {
  margin-top: 10px;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.1;
}

.avatar_developer {
  width: 100%;
}

.title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin: 0 auto 50px;
  max-width: 1000px;
  padding-left: 40px;
  padding-right: 40px;
}
