.author {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-areas:
    "header photo"
    "name photo"
    "date photo"
    "vita photo"
    "button photo";
  margin-bottom:  50px;
  background-color: #e6e6e6;
}

.author_title {
  text-transform: uppercase;
  grid-area: header;
  padding: 10px;
  font-family: sans-serif;
  border-bottom: 1px solid #3b3b3b;
}

.author_name {
  grid-area: name;
  padding: 15px;
  color: #0277BD;
}

.author_date {
  grid-area: date;
  padding: 15px;
  color: #607D8B;
}

.author_vita {
  grid-area: vita;
  padding: 10px;
}

.author_photo {
  grid-area: photo;
  max-height: 300px;
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.author_btn {
  grid-area: button;
  padding: 10px 20px;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .author {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "photo"
      "name"
      "date"
      "vita"
      "button";
  }

  .author_photo {
    margin: 0 auto;
  }

  .author_name {
    text-align: center;
  }

  .author_date {
    text-align: center;
  }

  .author_btn {
    margin: 0 auto;
  }
}


